* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, sans-serif;
  color: #1a1a1c;
  line-height: 1.7;
}

hr {
  border-color: #ececec;
}

.main-content {
  margin: 0 auto;
  width: min(100%, 393px);
  padding-top: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 6rem;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.desc {
  margin-top: 1.5rem;
  font-weight: 500;
}

.price {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}

.font-bold {
  font-weight: 700;
}

h2 {
  padding: 0.5rem 1rem;
  border-left: 0.5rem blue solid;
  background-color: #ececec;
}

section {
  margin-top: 6rem;
}

section p {
  margin-top: 1.5rem;
  font-weight: 500;
}

section p a {
  font-weight: bold;
}

.section__image-wrapper {
  margin-top: 3rem;
  width: 100%;
  aspect-ratio: 4 / 3;
}

.section__image-wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
}

dl {
  width: fit-content;
  margin-top: 1.5rem;
  border-bottom: 1px solid #888;
}

dt {
  font-size: 0.875rem;
  font-weight: 500;
  font-feature-settings: "palt";
}

dl .row {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

ul {
  margin-top: 1rem;
  list-style: none;
}

li span {
  margin-right: 0.125rem;
  width: 1.25rem;
  aspect-ratio: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateY(4px);
}

li span svg {
  display: inline-block;
}

li + li {
  margin-top: 1rem;
}
